* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #009688, #8a56c2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.welcome-container {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: slideIn 1s ease-in-out;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #ec9f05;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.form-container {
    background-color: palevioletred;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #009688;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #00796b;
}